div {
    display: block;
    margin: 18px;
}

img {
    height: 205px;
    width: 230px;
}

h1 {
    margin-left: 15px;
    font-family: 'PT Mono', monospace;
    font-size: 25px;    
}

hr {
     background-color: black;
     height: 3px;
     margin-left: 15px;
}

.name {
    position: absolute;
    margin-left: 95px;
    margin-top: -25px;
    color: white;
    font-family: 'PT Mono', monospace;
    font-size: 14px;    
}

#container {
    border: none;
    height: 580px;
    width: 810px;
}

.coders {
    border: none;
    float: left;
}